#root {
  line-height: normal;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
}

div {
  margin: 0 auto;
  text-align: center;
}

#appBlock {
  padding: 2rem;
  max-width: 1440px;
}

li button {
  padding: 0.4em 0.6em;
}

li div p {
  margin: 0;
}

ul {
  text-align: left;
}

footer {
    text-align: center;
    margin-top: auto;
}